*{
    padding: 0;
    margin:0;
}

body{
    min-height: 100vh;
    font-family:'Segoe UI', sans-serif;  
    background:
    conic-gradient(from 90deg at 1px 1px,#c9d9e8 90deg,#d2e2f2 0) 
    0 0/15px 15px;
}


a{
    text-decoration: none;
    color: darkblue;
}



#bottem_clouds{
    position: fixed;
    bottom: 0;
    width: auto;
    height: 159px;
    display:flex;
    
}

.files img{
    height: 55px;
    vertical-align: top;
}

.files{
    position:fixed;
    text-align: center;
    margin: 120px 30px;
    display: inline-block;
    cursor: pointer;
  
}

.mainbody{
    display: inline;
    background-color:#eef5ff;
    width: 73%;
    height: 480px;
    margin-right: 10%;
    margin-top: 4%;
    overflow: hidden;
    overflow-y: scroll;
    float: right;
    border: solid black 2px;
    border-radius: 15px;
    
   
    
}

.mainbody::-webkit-scrollbar {
    display: none;
  }

.mainbody nav{
    background-color: #c7d5f0;
    border-bottom: solid black 2px;
    text-align: right;
    padding:3px;
}

.mainbody .contacts{
    padding:10px;
    display: none;
   
}

.mainbody .projects{
    padding:10px;
    display: none;
   
}


@media(max-width:650px){
    .mainbody{
        margin-right:5%;
    }
}


.clouds{
    width: 100vw;
    height: 100vh;
     background-image: url(cloud-bg.png);
      animation: seamlessloop 50s infinite linear;
      background-size: cover;
      background-repeat: repeat;
    }
    @keyframes seamlessloop{
        from {background-position: 0}
        to {background-position:  -120vw}
    }


    /*Home page styling*/

    .mainbody .home{
        display: inline;
       
    }

    #hello{
        width:100%;
        position: static;
        height:auto;    
        padding: 0%;
    }